<!DOCTYPE html>
<html>
<head>
    <title>Pretty Pizza 🍕</title>
</head>
<body style="text-align:center; font-family:sans-serif; background-color: {{ background_color }} ">

    <h1 style="color: #F3E4C9">🍕 Pretty Pizza Game 🍕</h1>
    <div style="margin-top: 100px;">
    <h2 style="color: #BABF94" >Score: {{ score }}</h2>

    {% if result %}
        <h3 style="color: #cdc7c3">{{ result }}</h3>
    {% endif %}
    </div>

    <form method="post">
        {% csrf_token %}
        <button type="submit" style="padding:10px 20px; font-size:20px; background-color:rgb(151, 75, 24)">
            Make Pizza 🍕
        </button>
    </form>

</body>
</html>